<!DOCTYPE html>
<html>
    <style>

body{
    background: cyan;
    
}
title{
    font: 150px;
    
}
</style>
<head>
   

    <title>Eat some Burgers</title>
</head>


<body>

    {{{body}}}
</body>
</html>